{% extends 'base.html.twig' %}

{% block title %} Home
{% endblock %}

{% block body %}


    <!-- component -->
    <div class="flex items-center justify-center min-h-screen bg-indigo-500  bg-fixed bg-cover bg-bottom error-bg font-mono"
         style="background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E">

        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-black-100 text-center -mt-52">
                    <div class="relative ">
                        <h1 class="relative text-9xl tracking-tighter-less text-shadow font-sans font-bold">
                        </br><span>Wild </span><span>Blog </span><span>School </span></h1>
                    </div>
                    </br><h2 class="pt-4 text-6xl text-black-100 mt-6 mb-8">Liberté d'expression totale</h2>
                    <p class="pt-2 text-2xl text-black-100">Wild Blog School est le projet totalement fou d'un ancien élève de la Wild Code school Strasbourg.</p>
                    <p class="pt-2 text-2xl text-black-100">Son projet est de favoriser les échanges entre Wilders des différents campus, afin de faciliter</p>
                    <p class="pt-2 text-2xl text-black-100">l'insertion professionnelle des Wilders sortants de formation.</p>
                    <p class="pt-2 text-2xl text-black-100">Stages, alternances, rémunération, code, préparations aux entretiens, tous les sujets sont libres d'accès ici.</p>
                </div></br></br></br>

                {% if app.user %}
                <div class="w-full flex justify-center">
                    <a  href="{{ path('blog_new') }}" @endif
                        class="flex text-gray-100 justify-center transition duration-200 ease-in-out transform px-4 py-2 w-48 border-b-4 border-gray-500 hover:border-b-2 bg-gradient-to-t from-gray-400  via-gray-600 to-gray-200 rounded-2xl hover:translate-y-px "

                        style="-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 8px rgba(0,0,0,0);
			box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);">
            <span class="font-bold">
			Edit un article</span>
                    </a>
                </div>

            {% else %}
                <div class="w-full flex justify-center">
                    <a  href="{{ path('security_registration') }}" @endif
                        class="flex text-gray-100 justify-center transition duration-200 ease-in-out transform px-4 py-2 w-48 border-b-4 border-gray-500 hover:border-b-2 bg-gradient-to-t from-gray-400  via-gray-600 to-gray-200 rounded-2xl hover:translate-y-px "

                        style="-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 8px rgba(0,0,0,0);
			box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);">
            <span class="font-bold">
			Rejoindre WBS</span>
                    </a>
                </div>
            </div>
            {% endif %}

        </div>

            </div>
        </div>
    </div>



    <style>
        .error-bg {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
        }
        .tracking-tighter-less {
            letter-spacing: -0.75rem;
        }
        .text-shadow {
            text-shadow: -8px 0 0 rgb(52 123 242);
        }
    </style>

    <section class="text-gray-600 body-font font-mono">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.6435-9/50100570_1223760017772848_8577882445615988736_n.png?_nc_cat=105&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=hgJ0w3MacF0AX8TPhWD&_nc_ht=scontent-cdt1-1.xx&oh=ebdeeba367a1209776b47904407fd9c9&oe=6121621B">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="pt-4 text-6xl text-black-100 mt-6 mb-8"">Projet CheckPoint n°4</h1>
                <p class="pt-2 text-1xl text-black-100"> Ce projet a été réalisé dans le cadre de la fin de formation. Du 21 au 22 juillet 2021.</p>
                <p class="pt-2 text-1xl text-black-100"> Retrouvez le Repository du projet réalisé par Martin Lang en cliquant ci-dessous.</p></br>
                <div class="flex justify-center">
                    <a href="https://github.com/Martin-Justin-Lang/CheckPoint4"
                            class="inline-block px-4 py-2 text-center text-white transition bg-black rounded shadow ripple waves-light hover:shadow-lg hover:bg-black focus:outline-none"
                    >
                        <svg class="w-5 h-5 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                    d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
